name: repro-checks

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string
      ref:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  checkout-repo:
    name: Checkout repository
    runs-on: ubuntu-latest
    outputs:
      archive-artifact-name: repo-archive.tar.gz
    steps:

      - name: Check kit
        run: |
          git clone --no-checkout --depth 1 https://github.com/${GITHUB_REPOSITORY}.git kit
          cd kit
          git fetch --depth=1 origin "$GITHUB_SHA"
          git checkout "$GITHUB_SHA"
          git archive --prefix=kit/ --format=tar -o ../kit-archive.tar "$GITHUB_SHA"

      - name: Source repos
        run: |
          git clone --no-checkout --depth 1 ${{ inputs.url }} gitrepo
          cd gitrepo
          git fetch --depth 1 origin ${{ inputs.ref }}
          git checkout ${{ inputs.ref }}
          tee gitmeta.out >&2 << EOF
            GIT_URL=${{ inputs.url }}
            GIT_COMMIT=$(git --git-dir=.git --work-tree=. rev-parse HEAD)
          EOF
          git archive --prefix=gitrepo/ --format=tar -o ../gitrepo-archive.tar ${{ inputs.ref }}

      - name: Upload kit archive
        uses: actions/upload-artifact@v4
        with:
          name: kit-archive
          path: kit-archive.tar

      - name: Upload archive artifact
        uses: actions/upload-artifact@v4
        with:
          name: gitrepo-archive
          path: gitrepo-archive.tar

  build:  
    name: Build artifact
    runs-on: ubuntu-latest
    container: ghcr.io/disputechalice/builder-simple:latest
    needs: checkout-repo
    steps:
      - name: Download kit archive
        uses: actions/download-artifact@v4
        with:
          name: kit-archive
          path: .
      - name: Download repo archive
        uses: actions/download-artifact@v4
        with:
          name: gitrepo-archive
          path: .
      - name: Extract kit & repo
        run: |
          tar -xf kit-archive.tar
          tar -xf gitrepo-archive.tar
          ls -la
      - name: Prep build environment
        run: |
          kit/prep gitrepo
          cat gitrepo/gitmeta.out >> $GITHUB_ENV
          cat buildmeta.out >> $GITHUB_ENV
      - name: Check if build can be reproduced
        run: |
          kit/check-build-simple gitrepo
          cat check-build-simple.out >> $GITHUB_ENV
      - name: Report
        if: always()
        run: |
          kit/report
          cat report.out >> $GITHUB_STEP_SUMMARY
      - name: Upload working directory bundle
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: .
          include-hidden-files: true
          retention-days: 1

  url-check:
    name: Check published package URL
    runs-on: ubuntu-latest
    needs: checkout-repo
    steps:
      - name: Download kit archive
        uses: actions/download-artifact@v4
        with:
          name: kit-archive
          path: .
      - name: Download repo archive
        uses: actions/download-artifact@v4
        with:
          name: gitrepo-archive
          path: .
      - name: Extract repo
        run: |
          tar -xf kit-archive.tar
          tar -xf gitrepo-archive.tar
      - name: Check if published package checksum matches
        run: |
          kit/check-url
          cat check-url.out >> $GITHUB_ENV
