name: repro-checks

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string
      ref:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  prepare:
    runs-on: ubuntu-latest
    env:
      GIT_URL: ${{ inputs.url }}
      GIT_COMMIT: ${{ inputs.ref }}
    outputs:
      git_url: ${{ steps.prep.outputs.git_url }}
      git_sha: ${{ steps.prep.outputs.git_sha }}
      deb_package: ${{ steps.prep.outputs.deb_package }}
      deb_version: ${{ steps.prep.outputs.deb_version }}
      deb_sha256: ${{ steps.prep.outputs.deb_sha256 }}
      deb_url: ${{ steps.prep.outputs.deb_url }}
      source_date_epoch: ${{ steps.prep.outputs.source_date_epoch }}
      dpkg_deb_compressor_type: ${{ steps.prep.outputs.dpkg_deb_compressor_type }}

    steps:

      - name: Get kit repo
        uses: disputechalice/test-gh-actions/checkout-archive@main
        with:
          repo: https://github.com/"$GITHUB_REPOSITORY".git
          ref: main
          dir: kit

      - name: Get source repo
        uses: disputechalice/test-gh-actions/checkout-archive@main
        with:
          repo: ${{ inputs.url }}
          ref: ${{ inputs.ref }}
          dir: gitrepo
          permsrc: true

      - name: Prep environment
        id: prep
        run: |
          export GIT_DIR="gitrepo.git"
          cat >> $GITHUB_OUTPUT << EOF
          git_url=$(git remote get-url origin)
          git_sha=$(git rev-parse HEAD)
          EOF

          found_buildmeta=(gitrepo/*.buildmeta)
          ((${#found_buildmeta[@]} == 1))
          buildmeta=${found_buildmeta[0]}
          [[ -f $buildmeta ]]
          buildmeta_fname=${buildmeta##*/}
          target="${buildmeta_fname%%.buildmeta}"

          source "$buildmeta" || return 255

          cat >> $GITHUB_OUTPUT << EOF
          deb_package=${target%%_*}
          deb_version=${target#*_}
          deb_sha256=$DEB_SHA256
          deb_url=$DEB_URL
          source_date_epoch=$SOURCE_DATE_EPOCH
          dpkg_deb_compressor_type=$DPKG_DEB_COMPRESSOR_TYPE
          EOF

  repro:  
    runs-on: ubuntu-latest
    container: ghcr.io/disputechalice/builder-simple:latest
    needs: prepare
    outputs:
      status: ${{ steps.check.outputs.status }}

    steps:
      - name: Prep
        uses: disputechalice/test-gh-actions/prep@main

      - name: Check if build can be reproduced
        id: check
        run: |
          out_dir=$(pwd -P)
          repo_dir=gitrepo

          DEB_PACKAGE="${{ needs.prepare.outputs.deb_package }}"
          DEB_VERSION="${{ needs.prepare.outputs.deb_version }}"
          DEB_SHA256="${{ needs.prepare.outputs.deb_sha256 }}"
          SOURCE_DATE_EPOCH="${{ needs.prepare.outputs.source_date_epoch }}"
          DPKG_DEB_COMPRESSOR_TYPE="${{ needs.prepare.outputs.dpkg_deb_compressor_type }}"

          export SOURCE_DATE_EPOCH DPKG_DEB_COMPRESSOR_TYPE

          tmp_deb=$(mktemp "$DEB_PACKAGE"_XXXXXX.deb)
          dpkg-deb --build --root-owner-group "$repo_dir/$DEB_PACKAGE" "$tmp_deb"

          read -r deb_package deb_version <<< "$(
              dpkg-deb --show --showformat='${Package} ${Version}\n' \
                  "$tmp_deb"
          )"

          [[ $DEB_PACKAGE == "$deb_package" ]]
          [[ $DEB_VERSION == "$deb_version" ]]

          deb_fname="${deb_package}_${deb_version}.deb"
          mv -v "$tmp_deb" "$out_dir/$deb_fname"

          sha256sum --check <<< "$DEB_SHA256  $out_dir/$deb_fname"

          cat >> $GITHUB_OUTPUT << EOF
          status=pass
          EOF

  dist:
    runs-on: ubuntu-latest
    needs: prepare
    outputs:
      status: ${{ steps.check.outputs.status }}
    steps:
      - name: Prep
        uses: disputechalice/test-gh-actions/prep@main

      - name: Check if published package checksum matches
        id: check
        run: |
          DEB_PACKAGE="${{ needs.prepare.outputs.deb_package }}"
          DEB_SHA256="${{ needs.prepare.outputs.deb_sha256 }}"
          DEB_URL="${{ needs.prepare.outputs.deb_url }}"

          tmp_deb=$(mktemp "/tmp/$DEB_PACKAGE"_XXXXXX.deb)
          wget --no-verbose -O "$tmp_deb" "$DEB_URL"
          sha256sum --check <<< "$DEB_SHA256  $tmp_deb"

          cat >> $GITHUB_OUTPUT << EOF
          status=pass
          EOF

  report:
    runs-on: ubuntu-latest
    needs: [repro, dist]
    steps:
      - name: Download environment
        uses: actions/download-artifact@v4
        with:
          name: prep-env-dir
          path: ./env

      - name: Run report
        run: |
          tee -a "report.md" >&2 << EOF
          **$(date --rfc-3339=seconds --utc)**
          EOF

          if [[ "${{ needs.repro.outputs.status }}" == "pass" ]]; then
            tee -a "report.md" >&2 << EOF

          ## Build reproducibility confirmed

          ### Package
          *${{ needs.prepare.outputs.deb_package }}*

          ### Version
          *${{ needs.prepare.outputs.deb_version }}*

          ### Source URL
          [${{ needs.prepare.outputs.git_url }}](${{ needs.prepare.outputs.git_url }})

          ### Source Git commit SHA
          ${{ needs.prepare.outputs.git_sha }}

          ### Package checksum SHA256

          ${{ needs.prepare.outputs.deb_sha256 }}
          EOF
          fi

          if [[ "${{ needs.dist.outputs.status }}" == "pass" ]]; then
            tee -a "report.md" >&2 << EOF

          ## Published package checksum verified

          ### Package URL
          [${{ needs.prepare.outputs.deb_url }}](${{ needs.prepare.outputs.deb_url }})

          Checksum matches that of the reproduced build.
          EOF
          fi

          cat report.md >> $GITHUB_STEP_SUMMARY
