name: repro-checks

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string
      ref:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  checkout-repo:
    name: Prep kit & source repo
    runs-on: ubuntu-latest
    env:
      GIT_URL: ${{ inputs.url }}
      GIT_COMMIT: ${{ inputs.ref }}
    steps:

      - name: Checkout kit repo
        uses: disputechalice/test-gh-actions/checkout-archive@main
        with:
          repo: https://github.com/"$GITHUB_REPOSITORY".git
          sha: main
          dir: kit

      - name: List archive
        run: ls -l kit.tar

      - name: Upload kit archive
        uses: actions/upload-artifact@v4
        with:
          name: kit-archive
          path: kit-archive.tar
          include-hidden-files: true
          retention-days: 1

      - name: Checkout source repo
        uses: disputechalice/test-gh-actions/checkout-archive@main
        with:
          repo: ${{ inputs.url }}
          sha: ${{ inputs.ref }}
          dir: gitrepo

      - name: Upload source archive
        uses: actions/upload-artifact@v4
        with:
          name: gitrepo-archive
          path: gitrepo-archive.tar
          include-hidden-files: true
          retention-days: 1

      - name: Prep environment
        run: |
          mkdir -p env

          tee env/gitsource.env >&2 << EOF
            GIT_URL=$(git --git-dir=gitrepo/.git --work-tree=gitrepo \
              remote get-url origin)
            GIT_COMMIT=$(git --git-dir=gitrepo/.git --work-tree=gitrepo \
              rev-parse HEAD)
          EOF

          kit/prep gitrepo

      - name: Upload environment
        uses: actions/upload-artifact@v4
        with:
          name: checkout-repo-env
          path: env
          include-hidden-files: true
          retention-days: 1

  build:  
    name: Repro build
    runs-on: ubuntu-latest
    container: ghcr.io/disputechalice/builder-simple:latest
    needs: checkout-repo
    steps:
      - name: Prep
        uses: disputechalice/test-gh-actions/prep@main
      - name: Check if build can be reproduced
        run: |
          source env/build.env
          export DEB_{PACKAGE,VERSION,SHA256} \
            SOURCE_DATE_EPOCH DPKG_DEB_COMPRESSOR_TYPE

          kit/check-build-simple gitrepo

  url-check:
    name: Check published package URL
    runs-on: ubuntu-latest
    needs: checkout-repo
    steps:
      - name: Download kit archive
        uses: actions/download-artifact@v4
        with:
          name: kit-archive
          path: .

      - uses: actions/download-artifact@v4
        with:
          name: checkout-repo-env
          path: ./env

      - name: Extract repo
        run: |
          tar -xf kit-archive.tar
      - name: Check if published package checksum matches
        run: |
          source env/build.env
          export DEB_{PACKAGE,SHA256,URL}

          kit/check-url

  report:
    name: Generate report
    runs-on: ubuntu-latest
    needs: [build, url-check]
    steps:
      - name: Download kit archive
        uses: actions/download-artifact@v4
        with:
          name: kit-archive
          path: .
      - name: Extract kit
        run: |
          tar -xf kit-archive.tar

      - name: Download environment
        uses: actions/download-artifact@v4
        with:
          name: checkout-repo-env
          path: ./env
      - name: Run report
        run: |
          for f in env/*.env; do source "$f"; done      
          kit/report
          cat report.out >> $GITHUB_STEP_SUMMARY
