name: repro-checks

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string
      ref:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  checkout-repo:
    name: Prep kit & source repo
    runs-on: ubuntu-latest
    env:
      GIT_URL: ${{ inputs.url }}
      GIT_COMMIT: ${{ inputs.ref }}
    steps:

      - name: Checkout kit repo
        uses: disputechalice/test-gh-actions/checkout-archive@main
        with:
          repo: https://github.com/"$GITHUB_REPOSITORY".git
          ref: main
          dir: kit

      - name: List archive
        run: ls -l kit.tar

      - name: Checkout source repo
        uses: disputechalice/test-gh-actions/checkout-archive@main
        with:
          repo: ${{ inputs.url }}
          ref: ${{ inputs.ref }}
          dir: gitrepo

      - name: Prep environment
        run: |
          mkdir -p env

          export GIT_DIR="gitrepo.git"

          tee env/gitsource.env >&2 << EOF
          GIT_URL=$(git remote get-url origin)
          GIT_COMMIT=$(git rev-parse HEAD)
          EOF

          found_buildmeta=("$search_dir"/*.buildmeta)
          ((${#found_buildmeta[@]} == 1))
          buildmeta=${found_buildmeta[0]}
          [[ -f $buildmeta ]]
          buildmeta_fname=${buildmeta##*/}

          target="${buildmeta_fname%%.buildmeta}"
          package=${target%%_*}
          version=${target#*_}

          source "$buildmeta" || return 255

          tee "env/build.env" >&2 << EOF
          DEB_PACKAGE=$package
          DEB_VERSION=$version

          SOURCE_DATE_EPOCH=$SOURCE_DATE_EPOCH
          DPKG_DEB_COMPRESSOR_TYPE=$DPKG_DEB_COMPRESSOR_TYPE

          DEB_SHA256=$DEB_SHA256
          DEB_URL=$DEB_URL
          EOF

      - name: Upload environment
        uses: actions/upload-artifact@v4
        with:
          name: checkout-repo-env
          path: env
          include-hidden-files: true
          retention-days: 1

  build:  
    name: Repro build
    runs-on: ubuntu-latest
    container: ghcr.io/disputechalice/builder-simple:latest
    needs: checkout-repo
    steps:
      - name: Prep
        uses: disputechalice/test-gh-actions/prep@main
      - name: Check if build can be reproduced
        run: |
          source env/build.env
          export DEB_{PACKAGE,VERSION,SHA256} \
            SOURCE_DATE_EPOCH DPKG_DEB_COMPRESSOR_TYPE

          kit/check-build-simple gitrepo

  url-check:
    name: Check published package URL
    runs-on: ubuntu-latest
    needs: checkout-repo
    steps:
      - name: Prep
        uses: disputechalice/test-gh-actions/prep@main

      - uses: actions/download-artifact@v4
        with:
          name: checkout-repo-env
          path: ./env

      - name: Check if published package checksum matches
        run: |
          source env/build.env
          export DEB_{PACKAGE,SHA256,URL}

          kit/check-url

  report:
    name: Generate report
    runs-on: ubuntu-latest
    needs: [build, url-check]
    steps:
      - name: Download kit archive
        uses: actions/download-artifact@v4
        with:
          name: kit-archive
          path: .
      - name: Extract kit
        run: |
          tar -xf kit.tar

      - name: Download environment
        uses: actions/download-artifact@v4
        with:
          name: checkout-repo-env
          path: ./env
      - name: Run report
        run: |
          for f in env/*.env; do source "$f"; done      
          kit/report
          cat report.out >> $GITHUB_STEP_SUMMARY
