name: Check Repo Build
on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone self
        run: git clone --depth 1 https://github.com/${{ github.repository }}.git kit
      - name: Clone repo
        run: git clone --depth 1 ${{ inputs.url }}
      - name: Build package
        run: |
          cd $(basename ${{ inputs.url }} .git)
          ../kit/check-build-simple
