name: repro-checks

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string
      ref:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  prepare:
    runs-on: ubuntu-latest
    env:
      GIT_URL: ${{ inputs.url }}
      GIT_COMMIT: ${{ inputs.ref }}
    outputs:
      prep: ${{ toJson(steps.prep.outputs) }}

    steps:

      - name: Kit
        uses: disputechalice/test-gh-actions/source-archive@main
        with:
          git-url: https://github.com/"$GITHUB_REPOSITORY".git
          git-ref: main
          name: kit

      - name: Source
        uses: disputechalice/test-gh-actions/source-archive@main
        with:
          git-url: ${{ inputs.url }}
          git-ref: ${{ inputs.ref }}
          name: gitrepo
          permsrc: true

      - name: Acquire buildmeta file
        id: acquire-buildmeta
        run: |
          found_buildmeta=(gitrepo/*.buildmeta)
          ((${#found_buildmeta[@]} == 1))
          buildmeta=${found_buildmeta[0]}
          [[ -f $buildmeta ]]
          echo "file=$buildmeta" >> $GITHUB_OUTPUT

      - name: Source buildmeta file
        id: source-buildmeta
        uses: disputechalice/test-gh-actions/env-to-json@main
        with:
          sfile: ${{ steps.acquire-buildmeta.outputs.file }}
          vnames: SOURCE_DATE_EPOCH DPKG_DEB_COMPRESSOR_TYPE DEB_SHA256 DEB_URL

      - name: Prep environment
        id: prep
        run: |
          export GIT_DIR="gitrepo.git"
          cat >> $GITHUB_OUTPUT << EOF
          git_url=$(git remote get-url origin)
          git_sha=$(git rev-parse HEAD)
          EOF

          buildmeta="${{ steps.acquire-buildmeta.outputs.file }}"
          buildmeta_fname=${buildmeta##*/}
          buildmeta_fname_bare="${buildmeta_fname%%.buildmeta}"
          cat >> $GITHUB_OUTPUT << EOF
          buildmeta=$buildmeta
          deb_package=${buildmeta_fname_bare%%_*}
          deb_version=${buildmeta_fname_bare#*_}
          EOF

  repro:  
    runs-on: ubuntu-latest
    container: ghcr.io/disputechalice/builder-simple:latest
    needs: prepare
    outputs:
      status: ${{ steps.check.outputs.status }}

    steps:
      - name: Prep
        uses: disputechalice/test-gh-actions/prep@main

      - name: Check if build can be reproduced
        id: check
        run: |
          out_dir=$(pwd -P)
          repo_dir=gitrepo

          DEB_PACKAGE="${{ fromJson(needs.prepare.outputs.prep).deb_package }}"
          DEB_VERSION="${{ fromJson(needs.prepare.outputs.prep).deb_version }}"
          : "${DEB_PACKAGE:?}" "${DEB_VERSION:?}"

          source "${{ fromJson(needs.prepare.outputs.prep).buildmeta }}"
          : "${DEB_SHA256:?}" "${SOURCE_DATE_EPOCH:?}"

          tmp_deb=$(mktemp "$DEB_PACKAGE"_XXXXXX.deb)
          export SOURCE_DATE_EPOCH DPKG_DEB_COMPRESSOR_TYPE
          dpkg-deb --build --root-owner-group "$repo_dir/$DEB_PACKAGE" "$tmp_deb"

          read -r deb_package deb_version <<< "$(
              dpkg-deb --show --showformat='${Package} ${Version}\n' \
                  "$tmp_deb"
          )"

          [[ $DEB_PACKAGE == "$deb_package" ]]
          [[ $DEB_VERSION == "$deb_version" ]]

          deb_fname="${deb_package}_${deb_version}.deb"
          mv -v "$tmp_deb" "$out_dir/$deb_fname"

          sha256sum --check <<< "$DEB_SHA256  $out_dir/$deb_fname"

          cat >> $GITHUB_OUTPUT << EOF
          status=pass
          EOF

  dist:
    runs-on: ubuntu-latest
    needs: prepare
    outputs:
      status: ${{ steps.check.outputs.status }}
    steps:
      - name: Prep
        uses: disputechalice/test-gh-actions/prep@main

      - name: Check if published package checksum matches
        id: check
        run: |
          DEB_PACKAGE="${{ fromJson(needs.prepare.outputs.prep).deb_package }}"
          DEB_SHA256="${{ fromJson(needs.prepare.outputs.prep).deb_sha256 }}"
          DEB_URL="${{ fromJson(needs.prepare.outputs.prep).deb_url }}"

          : "${DEB_PACKAGE:?}" "${DEB_SHA256:?}" "${DEB_URL:?}"

          tmp_deb=$(mktemp "/tmp/$DEB_PACKAGE"_XXXXXX.deb)
          wget --no-verbose -O "$tmp_deb" "$DEB_URL"
          sha256sum --check <<< "$DEB_SHA256  $tmp_deb"

          cat >> $GITHUB_OUTPUT << EOF
          status=pass
          EOF

  report:
    runs-on: ubuntu-latest
    needs: [prepare, repro, dist]
    steps:
      - name: Run report
        run: |
          # Assign status outputs
          STATUS_REPRO="${{ needs.repro.outputs.status }}"
          STATUS_DIST="${{ needs.dist.outputs.status }}"

          # Assign prepare outputs
          DEB_PACKAGE="${{ fromJson(needs.prepare.outputs.prep).deb_package }}"
          DEB_VERSION="${{ fromJson(needs.prepare.outputs.prep).deb_version }}"
          DEB_URL="${{ fromJson(needs.prepare.outputs.prep).deb_url }}"
          DEB_SHA256="${{ fromJson(needs.prepare.outputs.prep).deb_sha256 }}"
          GIT_URL="${{ fromJson(needs.prepare.outputs.prep).git_url }}"
          GIT_SHA="${{ fromJson(needs.prepare.outputs.prep).git_sha }}"

          # Single-line check for non-empty variables
          : "${DEB_PACKAGE:?}" "${DEB_VERSION:?}" "${DEB_URL:?}" "${DEB_SHA256:?}" "${GIT_URL:?}" "${GIT_SHA:?}"

          tee -a "report.md" >&2 << EOF
          # Report
          As of: **$(date --rfc-3339=seconds --utc)**

          | Package | *$DEB_PACKAGE* |
          |---------|----------------|
          | Version | *$DEB_VERSION* |
          EOF

          if [[ "$STATUS_REPRO" == "pass" ]]; then
            tee -a "report.md" >&2 << EOF

          ## Build reproducibility

          | Reproducible | OK |
          |--------------|----|
          | Source URL              | [$GIT_URL]($GIT_URL) |
          | Source Git commit SHA   | $GIT_SHA |
          | Package checksum SHA256 | $DEB_SHA256 |

          EOF
          fi

          # Published package table
          if [[ "$STATUS_DIST" == "pass" ]]; then
            tee -a "report.md" >&2 << EOF

          ## Published package checksum

          | Published | OK |
          |-----------|----|
          | Package URL | [$DEB_URL]($DEB_URL) |

          Checksum matches that of the reproduced build.

          EOF
          fi

          # Append to step summary
          cat report.md >> $GITHUB_STEP_SUMMARY
