name: repro-checks

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string
      ref:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  checkout-repo:
    name: Checkout repository
    runs-on: ubuntu-latest
    outputs:
      archive-artifact-name: repo-archive.tar.gz
    steps:

      - name: Check kit
        run: |
          git clone https://github.com/${GITHUB_REPOSITORY}.git kit
          cd kit
          git fetch --depth=1 origin "$GITHUB_SHA"
          git checkout "$GITHUB_SHA"
          git archive --format=tar.gz -o kit-archive.tar.gz HEAD

      - name: Source repos
        run: |
          git clone --no-checkout --depth 1 ${{ inputs.url }} repo
          cd repo
          git fetch --depth 1 origin ${{ inputs.ref }}
          git checkout ${{ inputs.ref }}
          git archive --format=tar.gz -o ../repo-archive.tar.gz ${{ inputs.ref }}

      - name: Upload kit archive
        uses: actions/upload-artifact@v4
        with:
          name: kit-archive.tar.gz
          path: kit-archive.tar.gz

      - name: Upload archive artifact
        uses: actions/upload-artifact@v4
        with:
          name: repo-archive.tar.gz
          path: repo-archive.tar.gz

  build:
    name: Build artifact
    runs-on: ubuntu-latest
    container: ghcr.io/disputechalice/builder-simple:latest
    needs: checkout-repo
    steps:
      - name: Download repo archive
        uses: actions/download-artifact@v4
        with:
          name: repo-archive.tar.gz
          path: .
      - name: Extract repo
        run: tar -xzf repo-archive.tar.gz
      - name: Prep build environment
        run: |
          kit/prep gitrepo ${{ inputs.url }}
          cat gitmeta.out >> $GITHUB_ENV
          cat buildmeta.out >> $GITHUB_ENV
      - name: Check if build can be reproduced
        run: |
          kit/check-build-simple gitrepo
          cat check-build-simple.out >> $GITHUB_ENV
      - name: Report
        if: always()
        run: |
          kit/report
          cat report.out >> $GITHUB_STEP_SUMMARY
      - name: Upload working directory bundle
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: .
          include-hidden-files: true
          retention-days: 1

  url-check:
    name: Check published package URL
    runs-on: ubuntu-latest
    needs: checkout-repo
    steps:
      - name: Download repo archive
        uses: actions/download-artifact@v4
        with:
          name: repo-archive.tar.gz
          path: .
      - name: Extract repo
        run: tar -xzf repo-archive.tar.gz
      - name: Check if published package checksum matches
        run: |
          kit/check-url
          cat check-url.out >> $GITHUB_ENV
