name: Check Simple

on:
  workflow_call:
    inputs:
      url:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:
  repro-checks:
    name: "Repro Checks"
    runs-on: ubuntu-latest
    container: debian:12
    steps:
      - name: Clone kit
        uses: actions/checkout@v4
        with:
          path: kit
      - name: Prep build environment
        run: |
          source kit/util
          req_repo ${{ inputs.url }} gitrepo
          req_permsrc gitrepo
          req_buildmeta gitrepo
          cat buildmeta.out >> $GITHUB_ENV
      - name: Check if build can be reproduced
        run: |
          kit/check-build-simple gitrepo
          cat check-build-simple.out >> $GITHUB_ENV
      - name: Check if published package checksum matches
        run: |
          kit/check-url
          cat check-url.out >> $GITHUB_ENV
      - name: Report
        if: always()
        run: |
          kit/report
          cat report.out >> $GITHUB_STEP_SUMMARY
      - name: Create working directory bundle artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          path: .
          include-hidden-files: true
          retention-days: 1
